---
layout: default
---
<div class="about">
    {{ content }}
<!--    <h2>Collaborators</h2>
    <div class="img-row">
        <div class="collaborator-images">
            <img src="/assets/img/placeholder.png" alt="MPOG" style="width:100%">
            <p><br>MPOG</p>
        </div>
        <div class="collaborator-images">
            <img src="/assets/img/placeholder.png" alt="MICCA" style="width:100%">
            <p><br>MICCA</p>
        </div>
    </div> -->
    <h2>Team</h2>
    <div class="row">
        <h3>Current</h3>
            <p>Astrid Fishstrom</p>  
            <p>Colin Gross</p>  
            <p>Shelbi Lisecki</p>  
            <p>Ben Sheppard</p>  

        <h3>Affiliated</h3>
            <p>Cooper Stansbury</p>  

        <h3>Past</h3>
            <p>Emily Dibble</p>    
            <p>Dahee Lee</p>
            <p>Veena Panicker</p>
            <p>John Rincon Hekking</p>

        <!-- 
        <div class="team-images">
            <img src="/assets/img/placeholder.png" alt="Zach" style="width:100%">
            <p>ZACH</p>
        </div>
        <div class="team-images">
            <img src="/assets/img/placeholder.png" alt="Zach" style="width:100%">
            <p>ZACH</p>
        </div>
        <div class="team-images">
            <img src="/assets/img/placeholder.png" alt="Zach" style="width:100%">
            <p>ZACH</p>
        </div>
        <div class="team-images">
            <img src="/assets/img/placeholder.png" alt="Zach" style="width:100%">
            <p>ZACH</p>
        </div>
        <div class="team-images">
            <img src="/assets/img/placeholder.png" alt="Zach" style="width:100%">
            <p>ZACH</p>
        </div>
        <div class="team-images">
            <img src="/assets/img/placeholder.png" alt="Zach" style="width:100%">
            <p>ZACH</p>
        </div>
    -->
</div>
