---
layout: default
---
<div class="about">
    {{ content }}
<!--    <h2>Collaborators</h2>
    <div class="img-row">
        <div class="collaborator-images">
            <img src="/assets/img/placeholder.png" alt="MPOG" style="width:100%">
            <p><br>MPOG</p>
        </div>
        <div class="collaborator-images">
            <img src="/assets/img/placeholder.png" alt="MICCA" style="width:100%">
            <p><br>MICCA</p>
        </div>
    </div> -->
    <h2>Team</h2>
    <div class="row">
        <h3><b>Current</b></h3>
            Anjana Deep Renji<br>
            Astrid Fishstrom<br>
            Colin Gross<br>
            Zach Landis-Lewis<br> 
            Shelbi Lisecki<br>  
            Ben Sheppard<br><br>  

        <h3><b>Affiliated</b></h3>
            <p>Cooper Stansbury</p><br> 

        <h3><b>Past</b></h3>
            Emily Dibble<br>    
            Dahee Lee<br>
            Veena Panicker<br>
            John Rincon Hekking<br>

        <!-- 
        <div class="team-images">
            <img src="/assets/img/placeholder.png" alt="Zach" style="width:100%">
            <p>ZACH</p>
        </div>
        <div class="team-images">
            <img src="/assets/img/placeholder.png" alt="Zach" style="width:100%">
            <p>ZACH</p>
        </div>
        <div class="team-images">
            <img src="/assets/img/placeholder.png" alt="Zach" style="width:100%">
            <p>ZACH</p>
        </div>
        <div class="team-images">
            <img src="/assets/img/placeholder.png" alt="Zach" style="width:100%">
            <p>ZACH</p>
        </div>
        <div class="team-images">
            <img src="/assets/img/placeholder.png" alt="Zach" style="width:100%">
            <p>ZACH</p>
        </div>
        <div class="team-images">
            <img src="/assets/img/placeholder.png" alt="Zach" style="width:100%">
            <p>ZACH</p>
        </div>
    -->
</div>
