---
layout: default
---
<div class="sidebar" id="sidebar-right">
    <ul>
        <li><a href="#causal_pathways">Causal Pathways</a></li>
        <li><a href="#message_library">Message Library</a></li>
    </ul>
</div>

<div class="knowledgebase">
    <h2 id="causal_pathways">Causal Pathways</h2>
    {{content}}
    <h2>Examples</h2>
    {% include_relative _causal_paths/Bench_Achievement.html %}
    <hr>
    {% include_relative _causal_paths/Bench_Diff.html %}
    <hr>
    {% include_relative _causal_paths/Consistent_High.html %}
    <hr>
    {% include_relative _causal_paths/Consistent_Low.html %}
    <hr>
    {% include_relative _causal_paths/Goal_Achievement.html %}
    <hr>
    {% include_relative _causal_paths/Goal_Diff.html %}
    <hr>
    {% include_relative _causal_paths/High_Bench.html %}
    <hr>
    {% include_relative _causal_paths/Negative_Trend.html %}
    <hr>
    {% include_relative _causal_paths/Positive_Trend.html %}
    <hr>
    <br>
    <h2 id="message_library">Message Library</h2>
    <p>
        Lorem ipsum dolor sit amet, consecteur adipiscing elit. Integer feugiat ex
        nec dui gravida cursus. Aenea sed urna nec quam faucibus gravida.
        Maecenas id pharetra dui. Nullam purus spien, sucipit sit amet quam hendrerit,
        ornare placerat nibh. Cras consquat nisl id augue ultricies pretium.
    </p>
    <br>
    <p><b>Example Key messages</b><br></p>
    <ol>
        <li>You ranked <b>[number]</b> for <b>[measure]</b> this <b>[time period]</b>.</li>
        <li>You are within <b>[number]</b>% of reaching the goal for <b>[measure]</b>.</li>
        <li>You reached the benchmark of <b>[number]</b>% for <b>[measure]</b> this <b>[time period]</b>.</li>
        <li>You reached the goal this <b>[time period]</b>.</li>
        <li>Your performance has decreased by <b>[number]</b>% for <b>[measure]</b>.</li>
        <li>Your performance has increased by <b>[number]</b>% for <b>[measure]</b>.</li>
        <li>You have consistently performed above <b>[number]</b> for <b>[number]</b> months.</li>
        <li>Your performance for <b>[measure]</b> has remained low.</li>
        <li>You are a top performer for <b>[measure]</b> this <b>[time period]</b>.</li>
        <li>You are a not top performer for <b>[measure]</b> this <b>[time period]</b>.</li>
    </ol>
    <br><br>
    <b>Example Displays</b>
    <br><br>

    <div class="img-row">
        <div class="template-images">
            <img src="/assets/img/ComparisonBarGraphVERT.png" alt="ComparisonBarGraphVERT" style="width:100%">
            <p>Comparison Bar Graph</p>
        </div>
        <br><br>
        <div class="template-images">
            <img src="/assets/img/SingleLineGraph.png" alt="SingleLineGraph" style="width:100%">
            <p>Single Line Graph</p>
        </div>
    </div>

</div>
