---
layout: default
---
<div class="sidebar" id="sidebar-right">
    <ul>
        <li><a href="#causal_pathways">Causal Pathways</a></li>
        <li><a href="#message_library">Message Library</a></li>
    </ul>
</div>

<div class="knowledgebase">
    
    {{content}}
    
    <h2 id="causal_pathways">Causal Pathways</h2>
    <h2>Examples</h2>
    {% include_relative _causal_paths/Bench_Achievement.html %}
    <hr>
    {% include_relative _causal_paths/Bench_Diff.html %}
    <hr>
    {% include_relative _causal_paths/Consistent_High.html %}
    <hr>
    {% include_relative _causal_paths/Consistent_Low.html %}
    <hr>
    {% include_relative _causal_paths/Goal_Achievement.html %}
    <hr>
    {% include_relative _causal_paths/Goal_Diff.html %}
    <hr>
    {% include_relative _causal_paths/High_Bench.html %}
    <hr>
    {% include_relative _causal_paths/Negative_Trend.html %}
    <hr>
    {% include_relative _causal_paths/Positive_Trend.html %}
    <hr>
    <br>

    <br><br>
    <b>Example Displays</b>
    <br><br>

    <div class="img-row">
        <div class="template-images">
            <img src="/assets/img/ComparisonBarGraphVERT.png" alt="ComparisonBarGraphVERT" style="width:100%">
            <p>Comparison Bar Graph</p>
        </div>
        <br><br>
        <div class="template-images">
            <img src="/assets/img/SingleLineGraph.png" alt="SingleLineGraph" style="width:100%">
            <p>Single Line Graph</p>
        </div>
    </div>

</div>
